:root {
  --logo-web: rgba(33, 150, 243, 1);
  --logo-header-studio: rgba(0, 0, 0, 1);
  --logo-footer-studio: rgba(255, 255, 255, 1);

  --primery-heder: rgba(33, 33, 33, 1);
  --secondary-heder: rgba(117, 117, 117, 1);
  --selection-header: rgba(33, 150, 243, 1);

  --primery-text: rgba(33, 33, 33, 1);
  --secondary-text: rgba(117, 117, 117, 1);

  --primery-hero: rgba(255, 255, 255, 1);

  --button: rgba(33, 33, 33, 1);
  --button-background: rgba(245, 244, 250, 1);
  --button-selection: rgba(255, 255, 255, 1);
  --button-background-selection: rgba(33, 150, 243, 1);

  --background-body: rgba(255, 255, 255, 1);
  --background-hero: rgba(47, 48, 58, 1);
  --background-team: rgba(245, 244, 250, 1);
  --background-footer: rgba(47, 48, 58, 1);

  --address-link: rgba(117, 117, 117, 1);
  --map-link: rgba(255, 255, 255, 1);
  --secondary-link: rgba(255, 255, 255, 0.6);
  --selection-footer: rgba(33, 150, 243, 1);
}
body {
  background-color: var(--background-body);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  color: var(--primery-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
/* стилизация logo */
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--logo-web);
}
.logo-studio-header {
  color: var(--logo-header-studio);
}
.logo-studio-footer {
  color: var(--logo-footer-studio);
}
/*Стилизация links*/
.link {
  color: var(--primery-heder);
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus,
.link.current {
  color: var(--selection-header);
}
.header-link-address {
  color: var(--secondary-heder);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.header-link-address:hover,
.header-link-address:focus {
  color: var(--selection-header);
}
/*Стилизация hero*/
.hero {
  background-color: var(--background-hero);
  text-align: center;
}
.hero-text {
  color: var(--primery-hero);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.09em;

  text-transform: uppercase;
}
/* стилизация buttons */
.hero-button {
  color: var(--button);
  background-color: var(--button-background);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
}
.hero-button:hover,
.hero.button:focus {
  color: var(--button-selection);
  background-color: var(--button-background-selection);
  cursor: pointer;
}
.button {
  color: var(--button);
  background-color: var(--button-background);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
  color: var(--button-selection);
  background-color: var(--button-background-selection);
  cursor: pointer;
}
/* стилизация text features */
.features h3 {
  color: var(--primery-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.features p {
  color: var(--secondary-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*стилизация text images*/
.team {
  background-color: var(--background-team);
  text-align: center;
}
.title {
  color: var(--primery-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.title-port {
  color: var(--primery-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.direction {
  color: var(--secondary-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.direction-port {
  color: var(--secondary-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/*стилизация footer */
.footer-link-map,
.footer-link-address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-link-map {
  color: var(--map-link);
}
.footer-link-address {
  color: var(--secondary-link);
}
.footer-link-map:hover,
.footer-link-map:focus,
.footer-link-address:hover,
.footer-link-address:focus {
  color: var(--selection-footer);
}
footer {
  background-color: var(--background-footer);
}
